<header class="post-header">
    <a class="post-blog-logo" href="{{ @blog.url }}">
        <img src="{{@blog.logo}}" alt="">
    </a>
    <div class="unpinned">
        {{ navigation }}
    </div>
</header>